@import 'normalize.css';
@import './variables.scss';

html, body {
  box-sizing: border-box;
  width: 1920px;
  height: 1080px;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  font-size: 14pt;
  font-weight: 300;
}
