@import './base.scss';

body {
  padding: 30px;
}

.camera-wrapper {
  $wrapper-width: 460px;
  $wrapper-padding: 15px;
  $camera-width: $wrapper-width - ($wrapper-padding * 2);
  $camera-height: ($camera-width / 16) * 9;

  width: $wrapper-width;
  box-sizing: border-box;
  background: $gradient;
  padding: $wrapper-padding;
  box-shadow:
    inset 0 0 0 2px rgba(0, 0, 0, 0.45),
    inset 0 0 4px 4px rgba(255, 255, 255, 0.5),
    0 7px 14px 0px rgba(0, 0, 0, 0.5);

  &__camera {
    background: black;
    height: $camera-height;
  }
}

.highlights-wrapper {
  $space-between: 15px;

  color: $text-light;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;

  & .highlight {
    width: 50%;
    padding-top: 1em;
    padding-right: $space-between;

    &:first-child {
      padding-left: $space-between;
    }

    &__title {
      font-size: 1em;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 0.5em;
    }

    &__content {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

